html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}
.header {
  text-align: left;
  background-color: #063084;
  padding: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.header-title {
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
}
.task-container {
  margin-bottom: 10px;
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.section-header {
  cursor: pointer;
  background: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
  font-weight: bold;
}
.task-list {
  padding: 0;
  margin: 0px;
}
.task-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.status-dot {
  display: flex;
  align-items: center;
}

.status-dot::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-dot.in-progress::before {
  background-color: orange;
}

.status-dot.pending::before {
  background-color: rgb(191, 183, 183);
}

.status-dot.completed::before {
  background-color: green;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #063084;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.floating-button:hover {
  background-color: #0845b3;
}
.navigate-home {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

.task-container:hover {
  background-color: #f0f8ff;
}

.action-buttons {
  bottom: 10px;
  right: 10px;
  display: none;
  visibility: hidden;
  gap: 10px;
}

.task-container:hover .action-buttons {
  display: flex;
  visibility: visible;
  gap: 10px;
}

.task-actions,
.popup-buttons,
.form-actions {
  display: flex;
  justify-content: space-between;
}

.task-date {
  font-size: 12px;
  color: #888;
  height: 30px;
  margin-top: 5px;
}
.task-title {
  font-size: 16px;
  font-weight: bold;
  color: #0845b3;
}
.task-description {
  margin-bottom: 5px;
}
.form-container {
  padding: 20px;
  max-width: 400px;
  margin: auto;
}
.data-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.button-secondary {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #fff;
  color: #063084;
  border: 1px solid;
}
.button-primary {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #063084;
  color: white;
}
.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
  padding: 5px;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: red;
  padding: 5px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.m-top-20 {
  margin-top: 20px;
}
